.App {
  text-align: center;
  width: 100%;
  background-color: grey;
  padding: 0px;
  margin: 0px;
}

.Container {
  width: 90%;
  margin: auto;
  background-color: yellow;
}

.Navbar {
  background-color: orange;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}

.Logo {
  width:104px;
}

.LogoImg {
  width: 100%;
}

.Home {
  text-align: center;
  width: 200px;
}

.HomeIcon {
  /* width: 100%; */
}

.Feed{
  background-color: violet;
  min-height: 250px;
}

.Footer {
  background-color: blue;
  margin-bottom: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.Article {
  background-color: lightblue;
  margin: 10px;
  padding: 0px 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
